body{
    background-color: blanchedalmond;
}

h1{
    font-family: Wicked Grit, sans serif;
    font-size: 80px;
    color: brown;
    margin: 40px;
    text-align: center;
}

h2{
    font-family: Dark of the Moon, sans serif;
    font-size: 40px;
}

.game-board{
    background-color: sienna;
    margin: 0 auto;
    width: 1000px;
    height: 750px;
    border-radius: 10px;
}

.game-frame{
    position: relative;
}

#frame-element{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

#score-keeper{
    margin-left: 90px;
}

.score-boxes{
display: flex;
margin: 0 auto;
padding: 30px;
}

.score-boxes img{
width: 50px;
}

.item-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: 20px;
    padding-top: 30px;
}

.combo-1 img{
    margin-left: 90px;
    margin-top: 50px;
}
.combo-2 img{
    margin-left: 90px;
    margin-top: 50px;
    
}

.combo-3 img{
    margin-left: 90px;
    margin-top: 50px;xs
}

.game-instructions{
    display: flex;
    margin-top: 40px;
}

.selected{
    border: 5px solid yellow;
    padding: 2px;
}

.wrong-combination{
    border: 5px solid red;
    padding: 2px;
}